:root {
    --primary-color: #1e406b;
    --secondary-color: #F0EFF4;
    --background-color: #F0EFF4;
    --font-family-sans-serif: 'Spline Sans', sans-serif;
    --base-space: 1rem;
    --base-space-small: calc(var(--base-space) / 2);
    --border-radius: var(--base-space-small);
    --search-form-width: 22.5rem;
    --base-height: 1.5rem;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: var(--font-family-sans-serif);
    color: var(--primary-color);
    line-height: 1.4;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--background-color);
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 0;
}

nav {
    display: flex;
}

header {
    padding: 1.1rem;
    background: var(--primary-color);
}

.header__container {
    display: flex;
    gap: 10rem;
}

.header__text {
    color: var(--secondary-color);
    font-size: 2rem;
    font-family: var(--font-family-sans-serif);
    font-weight: bold;
    line-height: 2.5rem;
}

.header__title {
    text-decoration: none;
}

.header__menu {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 20%;
}

.header__menu-item {
    text-align: -moz-right;
    color: #9fcdff;
    font-size: 35px;
}

.link {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: var(--base-height);
}

.header__logout-form {
    display: inline;
}

#input_logout {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: var(--base-height);
    height: auto;
}

input[type="submit" i] {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0.1rem;
    font-size: 1rem;
    font-family: inherit;
    height: var(--base-height);
}

form {
    margin: var(--base-space) 0;
}

select {
    height: var(--base-height);
}

.button {
    height: var(--base-height);
}

.button-publish {
    padding-left: 0;
}

.text-area {
    font-family: var(--font-family-sans-serif);
}

#search-result-area {
    min-width: 20.8rem;
}

.search-form {
    max-width: var(--search-form-width);
    display: contents;
}

label {
    min-width:5rem;
    display:inline-block;
    padding-bottom: 0.3rem;
    font-size: smaller;
}

.id {
    width: 2rem;
}

.publish_table {
    margin: 0 auto;
    border-style: hidden;
    display: flex;
    text-align: left;
    border-collapse: collapse;
    padding-right: 1rem
}
.publish_table-body{

}

.library {
    width: 5rem;
}

.full-name {
    width: 10rem;
}

.search-name {
    height: var(--base-height);
    width: 8rem;
}

.url {
    width: 24rem;
}

.comment {
    width: 27.99rem;
}

.hint {
    color: var(--secondary-color);
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: var(--primary-color);
    margin-top: 20px;
    display: block;
}

.contributed_table {
    margin: 0 auto;
    border-style: hidden;
    display: flex;
    text-align: left;
    border-collapse: collapse;
}

th {
    white-space: pre;
    padding-inline: 1rem;
    padding-bottom: 0.3rem;
}

td {
    border-bottom: 2px solid var(--primary-color);
    border-top: 2px solid var(--primary-color);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 1rem;
}

.publish-td {
    border: none;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}

.new-translation-form {
    height: 1.5rem;
}

.language-selector {
    width: 5rem;
}

.library-selector {
    width: 4.5rem;
}

.publish-translation-form {
    height: 1.5rem;
}

.publish-translation-form-div{
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 1rem;
}

.publish-form-table {
    margin: 0 auto;
    border-style: hidden;
    display: flex;
    text-align: left;
    border-collapse: collapse;
    padding-right: 1rem;
}

.publish-form-table tr {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.publish-form-table-body {

}

.publish-comment{
    padding-left: 7rem;
}
.publish-url-comment{
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

